.hero{
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 700px;
    display: flex;
    align-items: center;
    background-color: #040D12;
}

.hero div{
    font-size: 69px;
    -webkit-text-stroke: 4px;
    transition: 0.2s;
    color: white;
}

.hero div:hover{
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
}


@media (max-width:990px){
    .hero div{
        font-size: 48px;
        -webkit-text-stroke: 3px;
    }
}


@media (max-width:690px){
    .hero div{
        font-size: 38px;
        -webkit-text-stroke: 2px;
    }
}
